# OS
.DS_Store
Thumbs.db

# Editors / IDEs
.vscode/*.code-workspace
.idea/
*.swp
*.swo

# C/C++ build artifacts
*.o
*.obj
*.a
*.so
*.dylib
*.exe

# PlatformIO
**/.pio/
**/.piolibdeps/
**/.sconsign.dblite
**/.clangd/

# Logs
*.log

# Python
__pycache__/
*.pyc
